@charset 'utf-8';

body{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    color: rgb(75, 75, 75);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
}
#all{
    width: fit-content;
    margin:0 auto;
}
a{
    text-decoration: none;
    color: #0F5474;
}
#all h1 img{
    width:130px;
    height: auto;
}

#index{
  margin: 0 auto;
  width:700px;
  background-color: aliceblue;
  padding: 30px;
  border-radius: 10px;
}

/* header内のnav要素 */
#flex{
    display: flex;
    justify-content: space-between;
    background-attachment: fixed;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 50px;
    text-align: center;
    padding: 10px;
}
nav ul li img{
    width: 30px;
    margin: 0 auto;
}

main h1{
    margin: 50px 0;
    font-size: 40px;
}
#tower{
    padding-bottom: 20px;
}
.tower img {
    width: 250px;
    height: 300px;
}
#car{
    padding-top: 20px;
    padding-bottom: 20px;
}
#ado{
    padding-bottom: 20px;
}
#hanami{
    padding-bottom: 20px;
}
#teien{
    padding-bottom: 20px;
}
#teien img{
    width: 320px;
    height: 250px;
}

.adob img {
    width: 320px;
    height: 250px;
}
#animal{
    padding-bottom: 20px;
}
#zoo {
    display: flex;
}

#zoo img {
    padding-right: 5px;
}

#turu {
    width: 250px;
    height: 300px;
}

#rabbit {
    width: 320px;
    height: 250px;
}
@media screen and (max-width:768px){
    #all{
        width: fit-content;
        margin: 0 auto;
    }
    a{
        text-decoration: none;
        color: #0F5474;
    }
    #all h1 img{
        width:130px;
        height: auto;
    }
    #flex{
        display: block;
        background-attachment: fixed;
    } 
    nav ul{
      list-style-type: none;
      display: block;
      margin: 10px auto;
      width: fit-content;
    }
    nav ul li{
      padding-right: 10px;
      /* text-align: center; */
      padding: 10px;
      border-bottom: 1px solid rgb(75, 75, 75);
      margin: 0 auto;
    }    
    #index{
      margin: 0 auto;
      width:700px;
      background-color: aliceblue;
      padding: 30px;
      border-radius: 10px;
    }
    #zoo{
        display: block
    }
}